@model ExemploEF.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <h1 class="text-danger">Excluir Categoria</h1>
        <h4 class="text-muted">Tem certeza de que deseja excluir esta categoria?</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                </dl>
            </div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CategoriaId" />
            <div class="mt-4">
                <button type="submit" class="btn btn-danger me-2">Excluir</button>
                <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
